<mat-card>
    <mat-card-title> Register </mat-card-title>
    <br>
    <mat-card-content>	
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
            <mat-card-subtitle> Personal informations </mat-card-subtitle>
            <mat-form-field>
                <input matInput name="firstName" ngModel type="text" placeholder="First name" #firstNameInput="ngModel" required>
                <mat-error *ngIf="firstNameInput.invalid">Please enter Your first name!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="lastName" ngModel type="text" placeholder="Last name" #lastNameInput="ngModel" required>
                <mat-error *ngIf="firstNameInput.invalid">Please enter Your last name!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email>
                <mat-error *ngIf="firstNameInput.invalid">Please enter Your email!</mat-error>
            </mat-form-field>
            <br><br>
            <mat-card-subtitle> Account informations </mat-card-subtitle>
            <mat-form-field>
                <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel" required>
                <mat-error *ngIf="firstNameInput.invalid">Please enter Your username.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" required>
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
            <br><br>
            <button mat-raised-button color="accent" [disabled]="!signupForm.valid"  type="submit" *ngIf="!isLoading">Register</button>
        </form>
    </mat-card-content>
</mat-card>
